/*!
 * Start Bootstrap - Resume v5.0.2 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */
body {
	font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media ( min-width :992px) {
	body {
		padding-top: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	font-weight: 700;
	text-transform: uppercase;
	color: #343a40
}

h1 {
	font-size: 6rem;
	line-height: 5.5rem
}

h2 {
	font-size: 3.5rem
}

h3 {
	font-size: 2rem
}

p.lead {
	font-size: 1.15rem;
	font-weight: 400
}

.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	font-size: 1.5rem
}

.social-icons a {
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #495057;
	color: #fff !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin-right: 1rem
}

.social-icons a:last-child {
	margin-right: 0
}

.social-icons a:hover {
	background-color: #bd5d38
}

.dev-icons {
	font-size: 3rem
}

.dev-icons .list-inline-item i:hover {
	color: #bd5d38
}

#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 800;
	letter-spacing: .05rem;
	text-transform: uppercase
}

#sideNav .navbar-toggler:focus {
	outline-color: #d48a6e
}

@media ( min-width :992px) {
	#sideNav {
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 17rem;
		height: 100vh
	}
	#sideNav .navbar-brand {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 70px auto 0;
		padding: .5rem
	}
	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: .5rem solid rgba(255, 255, 255, .2)
	}
	#sideNav .navbar-collapse {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto
	}
	#sideNav .navbar-collapse .navbar-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item {
		display: block
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
		display: block
	}
}

section.resume-section {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	max-width: 75rem
}

section.resume-section .resume-item .resume-date {
	min-width: none
}

@media ( min-width :768px) {
	section.resume-section {
		min-height: 100vh
	}
	section.resume-section .resume-item .resume-date {
		min-width: 18rem
	}
}

@media ( min-width :992px) {
	section.resume-section {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important
	}
}

.bg-primary {
	background-color: #bd5d38 !important
}

.bg-navbar {
	background-color: #d7cec7 !important
}

.text-primary {
	color: #bd5d38 !important
}

.badgetForm {
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	background-color: #343a40;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 7px;
	padding-left: 7px;
}

a {
	color: black !important;
}

#footer a {
	color: white !important;
}

.sidebar a {
	color: white !important;
}

.navbar a {
	color: white !important;
}

p a {
	color: white !important;
}

p strong a {
	color: black !important;
}

#footer a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:active, a:focus, a:hover {
	color: #824027
}

.form-control-feedback {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.form-controlIcon {
	padding-left: 30px !important;
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.switch input {
	display: none;
}

.switch {
	display: inline-block;
	width: 60px;
	height: 20px;
	margin: 5px;
	transform: translateY(50%);
	position: relative;
}

.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 30px;
	box-shadow: 0 0 0 1px #777, 0 0 1px #777;
	cursor: pointer;
	border: 4px solid transparent;
	overflow: hidden;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #777;
	border-radius: 30px;
	transform: translateX(-30px);
	transition: .4s;
}

input:checked+.slider:before {
	transform: translateX(30px);
	background: limeGreen;
}

input:checked+.slider {
	box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
}

.separator {
	border: 0 solid #e7e6e6;
	clear: both;
	position: relative;
	z-index: 11;
	border-color: #00a7b0;
	border-top-width: 3px;
	margin-top: 0px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 415px;
}

.colorear {
	background-image: linear-gradient(rgba(255, 0, 0, 0.3),
		rgba(255, 0, 0, 0.3)),
		url(https://www.comolademo.es/demos/colorear-foto.jpg);
	height: 480px;
	width: 720px;
}

.effect {
	position: relative;
	width: 50%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.effect:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

* {
	box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	margin-right: 20px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: #BDBFBD;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for image text */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Six columns side by side */
.column {
	float: left;
	width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}

.active, .demo:hover {
	opacity: 1;
}

.adopcion {
	color: white;
	padding: .375rem .75rem;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .25rem;
	background-color: #8FC33A
}

.adoptado {
	color: white;
	padding: .375rem .75rem;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .25rem;
	background-color: #E24E42
}

.apadrinamiento {
	color: black;
	padding: .375rem .75rem;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .25rem;
	background-color: #F7B733
}